.footer__column-link {
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  margin: 0;
}

.footer__column-link:hover {
  transition-duration: 1s;
  opacity: 0.5;
}